In [2]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv("../march-machine-learning-mania-2023/Cities.csv")

In [14]:
df.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

 Volume in drive E is New Volume
 Volume Serial Number is B89A-9860

 Directory of e:\kaggle_competitions\NBA_FORECAST_2023\Basketball_forecast

File Not Found